__pycache__/
__init__.py
*.cs
*.exe
reply.py
*.json
test.py
deps/
*.beam

.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
rebar3.crashdump

doc
.tags*
.fuse_hidden*

rel/example_project
.concrete/DEV_MODE

*.log
*.log.*
